.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    /* opacity: 0; */
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 999;
}
    
.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.modal-content {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 40px 20px 20px 20px;
    transform: translateY(-50px);
    transition: opacity 0.3s, transform 0.3s;
}

.modal-close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: 0px;
}

.modal-content > h2 {
    margin-top: 0px;
    margin-bottom: 2vh;
}

.modal-content > form > * {
    display: block;
}

.modal-content > form > label {
    margin-top: 2vh;
}

.modal-content > form > input {
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding: 0.7vh;
    border: 1px solid;
}

form {
    padding-block: 1vh;
}

.modal-content > form > button {
    padding: 1vh;
    padding-inline: 3vh;
    background-color: #c3c3c3;
    border: 0px solid;
    border-radius: 0.7vh;
}

.modal-content > form > button:active {
    padding: 1vh;
    padding-inline: 3vh;
    background-color: #898989;
    border: 0px solid;
    border-radius: 0.7vh;
}
