
header {
  display: flex;
  background-color: rgb(225, 225, 225);
  border-bottom: rgb(136, 136, 136) solid 4px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-around;
  align-items: center;
}

.App-logo {
  pointer-events: none;
  padding-top: 2%;
  flex: 1 0 auto;
  margin-left: 130px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth {
  margin-right: 4%;
  height: 40px;
  width: 80px;
}

.selection {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.selection>* {
  width: 40%;
  margin-inline: 25px;
  border: solid 4px;
  border-radius: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-block: 15px;
  background-color: #abbaba;
  color: #000;
  width: 100%;
}

footer>* {
  padding-inline: 7%;
}
